.card {
  color: #212121;
  list-style-type: none;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.card__title {
  margin: 12px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  padding: 0;
  opacity: 40%;
  background-image: url(../images/heart.svg);
  background-color: #fcf5e5;
  border: none;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px;
  }

  .card__like-btn {
    background-size: 20px 18px;
    background-repeat: no-repeat;
  }
}
