.footer {
  min-height: 76px;
  padding: 0 20px;
}

.footer__content {
  margin: 60px 0;
  background-color: #fcf5e5;
  display: flex;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
  color: #212121;
}
