.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background: #fff;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
}

.modal__image-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__image-preview {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 10px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: calc(100% + 0px);
  margin: 8px 0 0;
  padding: 4px 8px;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent url(../images/close.svg) center no-repeat;
  border: none;
  background-color: #fff;
  opacity: 40%;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  position: absolute;
  background: transparent url(../images/close-white.svg) center no-repeat;
  opacity: 100%;
  top: -10px;
  right: -42px;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  line-height: 1;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 17.6px;
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
}

.modal__input {
  padding: 16px 12px 16px;
  border-radius: 8px;
  border-width: 1px;
  font-size: 20px;
  line-height: 1;
}

.modal__input_type_error {
  border: 1px solid #ff000099;
}

.modal__input_type_error:hover {
  border: 1.5px solid #ff0000;
}

.modal__error {
  display: block;
  color: #ff0000;
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
  margin-bottom: 32px;
}

.modal__submit {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.modal__submit:hover {
  opacity: 80%;
}

.modal__submit_disabled {
  opacity: 50%;
}

.modal_delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.modal_delete-title {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.modal_delete-close {
  background: transparent url(../images/close-white.svg) center no-repeat;
  width: 40px;
  height: 40px;
  opacity: 100%;
  top: -10px;
  right: -42px;
}

.modal__delete {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #ff6565;
  color: #212121;
  border: none;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.modal__delete:hover {
  opacity: 100%;
  background-color: #ff3333;
}

.modal__cancel {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #fff;
  color: #212121;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.modal__cancel:hover {
  background-color: #212121;
  color: #fff;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__image-preview {
    max-width: 288px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    position: absolute;
    top: -40px;
    right: -10px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
    line-height: 24px;
  }

  .modal__form {
    gap: 0px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 0;
  }

  .modal__submit {
    width: 100%;
  }

  .modal_delete-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .modal_delete-close {
    position: absolute;
    top: -40px;
    right: -10px;
  }

  .modal_delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .modal__delete {
    width: 156px;
  }
}
